# Merging, Joining, Concatenating in Pandas

## üîó 1. concat() Method

**hat is concat()?**
Used to **stack** multiple DataFrames either **vertically (row-wise)** or **horizontally (column-wise)**.

Like putting class attendance of **Class A + Class B** into one big file.

In [5]:
import pandas as pd
df1 = pd.DataFrame([1,2,3,4,5])
df2 = pd.DataFrame([11,22,33,44,55])
pd.concat([df1, df2], axis=0) # row-wise (default)
pd.concat([df1, df2], axis=1) # col-wise

   0   0
0  1  11
1  2  22
2  3  33
3  4  44
4  5  55

## üîÄ 2. merge() Method
**üìò What is merge()?**
- Like SQL join.
- Combines data from two tables based on a **common column**.

**Syntax:**
`pd.merge(df1, df2, on='common_column', how='inner')`

| `how` option | Meaning                         |
| ------------ | ------------------------------- |
| `'inner'`    | Only matching rows              |
| `'left'`     | All rows from left, match right |
| `'right'`    | All rows from right, match left |
| `'outer'`    | All rows from both sides        |

In [11]:
students = pd.DataFrame({
    'StudentID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

classes = pd.DataFrame({
    'StudentID': [1, 2, 4],
    'Class': ['A', 'B', 'C']
})

merged = pd.merge(students, classes, on='StudentID', how='inner')
pd.merge(students, classes, on='StudentID', how='left')
pd.merge(students, classes, on='StudentID', how='outer')

   StudentID     Name Class
0          1    Alice     A
1          2      Bob     B
2          3  Charlie   NaN
3          4      NaN     C

## ü§ù 3. join() Method
**üìò What is join()?**

- Joins DataFrames on **index**.
- Like matching two notebooks page-by-page üìò.

**Syntax:**

`df1.join(df2, how='left')`

In [13]:
df1 = pd.DataFrame({'Marks': [80, 90]}, index=['Alice', 'Bob'])
df2 = pd.DataFrame({'Age': [21, 22]}, index=['Alice', 'Bob'])

result = df1.join(df2)
print(result)

       Marks  Age
Alice     80   21
Bob       90   22

| Method     | Use Case                             | Key Column Required? | Based on Index? |
| ---------- | ------------------------------------ | -------------------- | --------------- |
| `concat()` | Stack tables                         | ‚ùå No                 | ‚ùå Not required  |
| `merge()`  | SQL-style joins (inner, outer, etc.) | ‚úÖ Yes                | ‚ùå               |
| `join()`   | Join on index                        | ‚ùå Optional           | ‚úÖ Yes           |