In [1]:
import numpy as np
import pandas as pd

In [2]:
# | Purpose         | Code (New) | Example Output                   |
# |------------------|------------|----------------------------------|
# | Daily            | 'D'        | 2024-01-01, 2024-01-02, ...      |
# | Month-End        | 'ME'       | 2024-01-31, 2024-02-29, ...      |
# | Quarter-End      | 'QE-DEC'   | 2024-03-31, 2024-06-30, ...      |
# | Year-End         | 'YE'       | 2024-12-31, 2025-12-31, ...      |
# | Hourly           | 'H'        | 2024-01-01 00:00, 2024-01-01 01:00 |

dates = pd.date_range(start="2025-01-01", periods=10, freq='D')
df_ts = pd.DataFrame({"date":dates, "sales": [100, 120, 90, 150, 200, 130, 170, 180, 160, 190]})
df_ts

        date  sales
0 2025-01-01    100
1 2025-01-02    120
2 2025-01-03     90
3 2025-01-04    150
4 2025-01-05    200
5 2025-01-06    130
6 2025-01-07    170
7 2025-01-08    180
8 2025-01-09    160
9 2025-01-10    190

Date Parsing

In [4]:
# Convert column to datetime format:
df_ts["date"] = pd.to_datetime(df_ts["date"])
df_ts.set_index('date', inplace=True)
print(df_ts)

            sales
date
2025-01-01    100
2025-01-02    120
2025-01-03     90
2025-01-04    150
2025-01-05    200
2025-01-06    130
2025-01-07    170
2025-01-08    180
2025-01-09    160
2025-01-10    190

Resampling (change frequency of time series)

In [13]:
# Use .resample() to aggregate by different time periods.
# Daily to Weekly (mean):
# df_ts.resample('W').sum()
df_ts['sales'].rolling(window=3).mean()

date
2025-01-01           NaN
2025-01-02           NaN
2025-01-03    103.333333
2025-01-04    120.000000
2025-01-05    146.666667
2025-01-06    160.000000
2025-01-07    166.666667
2025-01-08    160.000000
2025-01-09    170.000000
2025-01-10    176.666667
Name: sales, dtype: float64