# ðŸ¼ Pandas Project Roadmap: Snitch Fashion Sales Dataset

A full breakdown of pandas skills, concepts, and hands-on analysis questions to practice.

---

## ðŸ“‹ Summary Table

| Pandas Skill             | Questions Covered |
| ------------------------ | ----------------- |
| Data Inspection          | Q1â€“Q5             |
| Data Cleaning            | Q6â€“Q10            |
| Grouping & Aggregation   | Q11â€“Q15           |
| Time Series Analysis     | Q16â€“Q19           |
| Derived Columns          | Q20â€“Q22           |
| Filtering & Conditions   | Q23â€“Q25           |
| Visualization (Optional) | Q26â€“Q28           |

---

## ðŸ§© 1. Data Inspection & Exploration

### ðŸ“š Concepts:
- `df.shape`, `df.columns`, `df.dtypes`
- `df.head()`, `df.tail()`, `df.describe()`, `df.info()`
- `df.isnull().sum()`, `df.duplicated()`

### ðŸ” Questions:
1. How many rows and columns are in the dataset?  
2. What are the column names and their data types?  
3. How many missing values are there in each column?  
4. Are there duplicate records?  
5. View the first and last 10 rows of the data.  

---

## ðŸ§¹ 2. Data Cleaning & Preprocessing

### ðŸ“š Concepts:
- `df.dropna()`, `df.fillna()`, `df.replace()`, `df.duplicated()`
- `df['col'].str.lower()`, `pd.to_datetime()`, `df['col'].astype()`
- Handling inconsistent formatting (e.g. city names)

### ðŸ§½ Questions:
6. Normalize inconsistent city names (e.g. "bengaluru", "Bangalore", "hyd", "Hyderabad").  
7. Convert the `Order_Date` column to datetime format.  
8. Fill missing `Units_Sold` using `Sales_Amount / Unit_Price` when possible.  
9. Create a new column: `Net_Price = Unit_Price Ã— (1 - Discount_%)`  
10. Fill missing `Segment` with the most common value.  

---

## ðŸ“Š 3. Aggregation & Grouping

### ðŸ“š Concepts:
- `df.groupby()`, `.agg()`, `.sum()`, `.mean()`, `.count()`
- `.sort_values()`
- `df['col'].value_counts()`

### ðŸ“ˆ Questions:
11. How many orders were placed per product category?  
12. What is the total profit per city?  
13. What is the average unit price per product category?  
14. Who are the top 5 customers by total profit?  
15. What are the top-selling products by `Units_Sold`?  

---

## ðŸ“† 4. Time Series Analysis

### ðŸ“š Concepts:
- `pd.to_datetime()`
- `df['Order_Date'].dt.month`, `.dt.year`, `.dt.day_name()`
- `df.set_index('Order_Date').resample('M')`

### ðŸ“… Questions:
16. What is the trend of sales over months?  
17. Which month has the highest number of orders?  
18. Is there seasonality in product categories?  
19. What is the average monthly sales amount?  

---

## ðŸ’¡ 5. Derived Columns & Calculated Fields

### ðŸ“š Concepts:
- Creating columns: `df['New_Column'] = ...`
- Row-wise operations: `axis=1`, `.apply()`, `.round(2)`

### ðŸ’° Questions:
20. Compute profit margin per order: `(Profit / Sales_Amount) Ã— 100`  
21. Compute total revenue without discount and compare it with discounted sales.  
22. Which product has the highest return per unit (`Profit / Units_Sold`)?  

---

## ðŸ“ 6. Filtering & Conditional Logic

### ðŸ“š Concepts:
- Boolean indexing: `df[df['col'] > value]`
- Multiple conditions: `&`, `|`
- `.query()` method

### ðŸ§  Questions:
23. Which orders had `Units_Sold = 0` or missing?  
24. Which products had high sales but negative profits?  
25. Which products had discounts over 50%?  

---

## ðŸ“Š 7. Visualization (Optional using Matplotlib/Seaborn)

### ðŸ“š Concepts:
- Bar plots, line plots: `.plot(kind='bar')`, `.plot(kind='line')`
- Distribution plots: `sns.histplot()`, `sns.boxplot()`

### ðŸ“‰ Questions:
26. Visualize top 5 product categories by profit.  
27. Plot monthly sales over time.  
28. Show distribution of unit prices.

In [5]:
import pandas as pd

In [105]:
data = pd.read_csv(r'data\Snitch_Fashion_Sales_Uncleaned.csv')

## 1] How many rows and columns are in the dataset?

In [87]:
# total rows
print(data.shape[0])
# total columns
print(data.shape[1])

2500
12

## 2] What are the column names and their data types?

In [88]:
# column names
data.columns

Index(['Order_ID', 'Customer_Name', 'Product_Category', 'Product_Name',
       'Units_Sold', 'Unit_Price', 'Discount_%', 'Sales_Amount', 'Order_Date',
       'City', 'Segment', 'Profit'],
      dtype='object')

In [89]:
data.dtypes

Order_ID              int64
Customer_Name        object
Product_Category     object
Product_Name         object
Units_Sold          float64
Unit_Price          float64
Discount_%          float64
Sales_Amount        float64
Order_Date           object
City                 object
Segment              object
Profit              float64
dtype: object

## 3] How many missing values are there in each column?

In [90]:
data.isnull().sum(axis=0)

Order_ID               0
Customer_Name          0
Product_Category       0
Product_Name           0
Units_Sold          1306
Unit_Price          1210
Discount_%          1651
Sales_Amount           0
Order_Date           606
City                   0
Segment              821
Profit                 0
dtype: int64

## 4] Are there duplicate records?

In [91]:
duplicate_count = data.duplicated().sum()
if duplicate_count:
    print("Yes")
else:
    print("No")

No

## 5] View the first and last 10 rows of the data.

In [92]:
df_first_10  = data.head(10)
df_last_10 = data.tail(10)
print(df_first_10 )
print(df_last_10)

   Order_ID         Customer_Name Product_Category       Product_Name  \
0      1000        Brian Thompson            Jeans     Slim Fit Jeans
1      1001            Shaun Ross            Jeans     Slim Fit Jeans
2      1002          Sarah Snyder          Jackets        Puffer Coat
3      1003            Jay Briggs            Shoes            Loafers
4      1004           Maria Blake      Accessories              Belts
5      1005         Samuel Miller         T-Shirts           Crop Top
6      1006           John Mclean            Jeans    Boyfriend Jeans
7      1007  Dr. Kathryn Bass PhD          Dresses        Casual Midi
8      1008          Marie Fisher      Accessories         Sunglasses
9      1009            Dale Perry         T-Shirts  Oversized T-shirt

   Units_Sold  Unit_Price  Discount_%  Sales_Amount  Order_Date       City  \
0         NaN      842.00        0.60          0.00  2025-02-27      Delhi
1         1.0         NaN         NaN          0.00  2025-07-15  Ahmedabad
2         1.0      637.82         NaN          0.00  02-01-2025     Mumbai
3         2.0     2962.27         NaN          0.00  18-06-2025  bengaluru
4         1.0     2881.07        0.27       2103.18         NaN   hyderbad
5         NaN         NaN         NaN          0.00  2023-12-05     Mumbai
6         1.0     2060.85         NaN          0.00  2024-04-02  Ahmedabad
7         NaN     3669.56         NaN          0.00         NaN  Bangalore
8         NaN         NaN         NaN          0.00         NaN  Ahmedabad
9         5.0         NaN         NaN          0.00  2025-07-20  Bangalore

  Segment   Profit
0     B2C  2137.45
1     NaN  1588.15
2     B2B  -158.03
3     B2B  2296.50
4     NaN    63.66
5     B2B  1477.73
6     B2B   198.36
7     B2C  2490.01
8     B2C  -886.80
9     B2B  -972.73
      Order_ID      Customer_Name Product_Category       Product_Name  \
2490      3490    Preston Carroll          Dresses            Bodycon
2491      3491   Timothy Hamilton            Jeans    Boyfriend Jeans
2492      3492   Jonathan Meadows            Jeans       Ripped Denim
2493      3493      Keith Manning          Dresses        Casual Midi
2494      3494          Ryan West            Jeans     Slim Fit Jeans
2495      3495     Allen Williams         T-Shirts  Oversized T-shirt
2496      3496      Jonathan Hill            Shoes            Loafers
2497      3497  Alejandro Cochran          Jackets      Bomber Jacket
2498      3498      Angela Adkins            Jeans       Straight Cut
2499      3499     Zachary Werner         T-Shirts        Graphic Tee

      Units_Sold  Unit_Price  Discount_%  Sales_Amount  Order_Date       City  \
2490         NaN     2784.76        0.86           0.0  2023-11-16        Hyd
2491         NaN     4126.39         NaN           0.0  25-11-2024     Mumbai
2492         NaN     3084.73        0.86           0.0         NaN     Mumbai
2493         5.0     2935.56         NaN           0.0  2025-01-21      Delhi
2494         0.0         NaN         NaN           0.0         NaN  Ahmedabad
2495         NaN      848.79         NaN           0.0         NaN     Mumbai
2496         4.0         NaN         NaN           0.0  2024-03-10  Hyderabad
2497         NaN     3389.24        1.06           0.0         NaN  Ahmedabad
2498         5.0     3844.19         NaN           0.0  24-07-2024        Hyd
2499         6.0     1239.75         NaN           0.0         NaN     Mumbai

     Segment   Profit
2490     NaN  1373.37
2491     B2B   638.90
2492     NaN  2534.32
2493     NaN  -410.86
2494     NaN  -219.82
2495     NaN  2259.00
2496     B2B  2232.98
2497     B2C  1955.31
2498     NaN  2967.00
2499     B2C   715.15

## 6] Normalize inconsistent city names (e.g. "bengaluru", "Bangalore", "hyd", "Hyderabad").

In [93]:
data.columns

Index(['Order_ID', 'Customer_Name', 'Product_Category', 'Product_Name',
       'Units_Sold', 'Unit_Price', 'Discount_%', 'Sales_Amount', 'Order_Date',
       'City', 'Segment', 'Profit'],
      dtype='object')

In [94]:
# data['City'].unique()
# data['City'].replace('bengaluru',"Bangalore", inplace=True)
# data['City'].replace('Hyd',"Hyderabad", inplace=True)
# data['City'].replace('hyderbad',"Hyderabad", inplace=True)
# data['City'].unique()

data['City'] = data['City'].replace({"bengaluru":"Bangalore", "Hyd":"Hyderabad", "hyderbad":"Hyderabad"})
data['City'].unique()

array(['Delhi', 'Ahmedabad', 'Mumbai', 'Bangalore', 'Hyderabad', 'Pune'],
      dtype=object)

## 7] Convert the Order_Date column to datetime format.

In [95]:
data.columns
# Convert 'Order_Date' to datetime format, handling NaN and invalid formats
data['Order_Date'] = pd.to_datetime(data['Order_Date'], errors="coerce") # errors='coerce' ensures that invalid or missing values are set to NaT (Pandas' version of NaN for datetime).
data['Order_Date']

0      2025-02-27
1      2025-07-15
2             NaT
3             NaT
4             NaT
          ...
2495          NaT
2496   2024-03-10
2497          NaT
2498          NaT
2499          NaT
Name: Order_Date, Length: 2500, dtype: datetime64[ns]

## 8] Fill missing Units_Sold using Sales_Amount / Unit_Price when possible.

## 9] Create a new column: Net_Price = Unit_Price Ã— (1 - Discount_%)

In [96]:
data.columns

Index(['Order_ID', 'Customer_Name', 'Product_Category', 'Product_Name',
       'Units_Sold', 'Unit_Price', 'Discount_%', 'Sales_Amount', 'Order_Date',
       'City', 'Segment', 'Profit'],
      dtype='object')

In [97]:
data['Net_Price'] = data['Unit_Price'] * (1 - data['Discount_%'])
data.head()

,Order_ID,Customer_Name,Product_Category,Product_Name,Units_Sold,Unit_Price,Discount_%,Sales_Amount,Order_Date,City,Segment,Profit,Net_Price
0,1000,Brian Thompson,Jeans,Slim Fit Jeans,NaN,842.00,0.60,0.00,2025-02-27,Delhi,B2C,2137.45,336.8000
1,1001,Shaun Ross,Jeans,Slim Fit Jeans,1.0,NaN,NaN,0.00,2025-07-15,Ahmedabad,NaN,1588.15,NaN
2,1002,Sarah Snyder,Jackets,Puffer Coat,1.0,637.82,NaN,0.00,NaT,Mumbai,B2B,-158.03,NaN
3,1003,Jay Briggs,Shoes,Loafers,2.0,2962.27,NaN,0.00,NaT,Bangalore,B2B,2296.50,NaN
4,1004,Maria Blake,Accessories,Belts,1.0,2881.07,0.27,2103.18,NaT,Hyderabad,NaN,63.66,2103.1811

## 10] Fill missing Segment with the most common value.

In [98]:
data.columns

Index(['Order_ID', 'Customer_Name', 'Product_Category', 'Product_Name',
       'Units_Sold', 'Unit_Price', 'Discount_%', 'Sales_Amount', 'Order_Date',
       'City', 'Segment', 'Profit', 'Net_Price'],
      dtype='object')

In [106]:
data['Segment'].unique()

array(['B2C', nan, 'B2B'], dtype=object)

In [107]:
data['Segment'].value_counts()
data['Segment'].fillna(data['Segment'].mode()[0], inplace=True)
print(data['Segment'].isna().sum())

0

C:\Users\admin\AppData\Local\Temp\ipykernel_3952\2803798117.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Segment'].fillna(data['Segment'].mode()[0], inplace=True)